<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644688299054-9b3q6robp7t9v4u01a8ltlb12nbphe2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644688299054-9b3q6robp7t9v4u01a8ltlb12nbphe2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDdiyT2XuNYKdLDQRwjHgIkXHf-iLl7w30</string>
	<key>GCM_SENDER_ID</key>
	<string>644688299054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.gorourke.kumu</string>
	<key>PROJECT_ID</key>
	<string>kumu-97cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>kumu-97cf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644688299054:ios:c6c193c3066c4176680bbf</string>
	<key>DATABASE_URL</key>
	<string>https://kumu-97cf4.firebaseio.com</string>
</dict>
</plist>